.grid {
  margin-top: 100px;
}

.grid .btn__trash {
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.grid .btn__trash--on {
  color: #FF5F6D;
}

.grid .btn__trash--on:hover {
  opacity: 0.8;
  color: #FF5F6D;
}

.grid .btn__trash--off {
  color: #f56709;
}

.grid .btn__trash--off:hover {
  opacity: 0.8;
  color: #f56709;
}

.grid .imggrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border: 1px transparent;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(#0a0a0a)), -webkit-gradient(linear, left top, right top, from(#FF5F6D), to(#f56709));
  background-image: linear-gradient(#0a0a0a, #0a0a0a), linear-gradient(to right, #FF5F6D, #f56709);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 5px;
  min-height: 100vh;
}

.grid .imggrid__wrap {
  overflow: hidden;
  height: 0;
  padding: 40% 0;
  position: relative;
  opacity: 0.8;
}

.grid .imggrid__wrap--choose {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.grid .imggrid__wrap img {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 0;
  left: -16px;
  cursor: pointer;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #fafafa, #6b6865) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#6b6865)) 1;
     border-image: linear-gradient(to right, #fafafa, #6b6865) 1;
  margin: 10% 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .imggrid__wrap i {
  cursor: pointer;
  position: absolute;
  top: 8%;
  right: 83%;
  font-size: 50px;
  color: #f56709;
}

.grid .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .pagination i {
  padding: 5px;
  margin: 0px 20px;
  border-radius: 25px;
  border: 2px solid #f56709;
  color: #f56709;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.grid .pagination i li {
  font-style: normal;
}

.grid .pagination i:hover {
  color: #FF5F6D;
  border: 2px solid #FF5F6D;
}

.grid .pagination .none {
  opacity: 0;
  cursor: context-menu;
}

.grid .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid .pagination .is-active {
  color: #FF5F6D;
  border: 2px solid #FF5F6D;
}

.grid .pagination .is-active li {
  font-weight: 700;
  border: none;
}

.grid .pagination .next, .grid .pagination .prev {
  width: 100px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=style.css.map */