.grid{
    margin-top: 100px;

    .btn__trash{
        margin: 20px;
        font-size: 30px;
        cursor: pointer;
        

        &--on{
            color: #FF5F6D;

            &:hover{
                opacity: 0.8;
                color: #FF5F6D;
            }
        }
        
        &--off{
            color: rgb(245, 103, 9);

            &:hover{
                opacity: 0.8;
                color: rgb(245, 103, 9);
            }
        }

        
    }
    

    .imggrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        border:  1px transparent;
        border-radius: 30px;
        background-image: linear-gradient(rgb(10, 10, 10), rgb(10, 10, 10)), 
          linear-gradient(to right, #FF5F6D, rgb(245, 103, 9)) ;
        background-origin: border-box;
        background-clip: content-box, border-box;
        padding: 5px;

  

        &__wrap{
            overflow: hidden;
            height: 0;
            padding: 40% 0;
            position: relative;
            opacity: 0.8;

            &--choose {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
              }
      
    
            img{
                width: 80%;
                height: 70%;
                position: absolute;
                top: 0;
                left: -16px;
                cursor: pointer;
                border: 2px solid ;
                border-image: linear-gradient(to right, rgb(250, 250, 250), 
                                            rgb(107, 104, 101)) 1;
                margin: 10% 15%;
            }
    
            i{
                cursor: pointer;
                position: absolute;
                top: 8%;
                right: 83%;
                font-size: 50px;
                color: rgb(245, 103, 9);
            }
        }
    }
    .pagination{
        display: flex;
        justify-content: center;

        a{
            padding: 5px ;
            margin: 0px 20px;
            border-radius: 25px;
            border: 2px solid rgb(245, 103, 9);
            color: rgb(245, 103, 9);
            cursor: pointer;
            width: 50px;
            text-align: center;

            &:hover{
                color: #FF5F6D;
                border: 2px solid #FF5F6D;;
            }
        }

        .is-active{
            color: #FF5F6D;  
            border: 2px solid #FF5F6D;  

            li{
                font-weight:700;
                border: none;
            }
        }
        
        .next, .prev{
            width: 100px;
        }
    }
    // .paginationBtn{
    //     display: flex;
    //     justify-content: center;
    //     margin: 20px;

//         .next{
//             a{
//             padding: 5px 23px;
//             border-radius: 25px;
//             border: 2px solid rgb(245, 103, 9);
//             color: rgb(245, 103, 9);
//             cursor: pointer;
//             width: 100px;

//             &:hover{
//                 color: #FF5F6D;
//                 border: 2px solid #FF5F6D;;
//             }
//             }
//         }
//         .previous{
//             a{
//                 border-radius: 25px;
//                 padding: 5px 10px;
//                 color: rgb(245, 103, 9);
//                 border: 2px solid rgb(245, 103, 9);
//                 cursor: pointer;
//                 width: 100px;
    
//                 &:hover{
//                     color: #FF5F6D;
//                     border: 2px solid #FF5F6D;;
//                 }
//             }
//         }

//         li{
            
//             padding: 5px;
//             margin: 10px;
//             text-align: center;

//             a{
//                 border-radius: 25px;
//                 padding: 5px 10px;
//                 color: rgb(245, 103, 9);
//                 border: 2px solid rgb(245, 103, 9);
//                 cursor: pointer;
//                 width: 100px;
//                 text-align: center;
    
//                 &:hover{
//                     color: #FF5F6D;
//                     border: 2px solid #FF5F6D;;
//                 }
//             }
//         }
//  }

//         .paginationActive{
            
//             a{
//                 background-color: #ffff;
//                 color: #FF5F6D;    
//             }
//         }
    
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }