.signup{
    background-color: rgb(29, 98, 145);
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #000;

    h2{
        font-size: 30px;
        padding: 20px;
        color: #fff;
    }

    &__form{
        border: 2px solid #fff;
        border-radius: 20px;
        background-color: rgb(159, 171, 241);
        padding: 20px;
        width: 400px;

        margin: auto;

        ul{
            display: flex;
            justify-content: space-around;
            margin: 20px;
           
            li{
                line-height: 25px;
            }
        }

        button{
            padding: 4px;
            margin: 10px;
            background-color: bisque;
            border-radius: 5px;
        }
    }
}